<!DOCTYPE HTML>
<html ng-app="indexApp" ng-controller="IndexCtrl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>IU Science Gateway</title>
		<link rel="icon" href="https://www.indiana.edu/favicon.ico" />
		<link rel="shortcut icon" href="https://www.indiana.edu/favicon.ico" />
	
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="static/js/common.js"></script>
		<script src="static/js/index.js"></script>
		<script src="static/js/urlprovider.js"></script>

		
		<!-- Bootstrap -->
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
 		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="static/css/iu.css" rel="stylesheet">

	</head>
	
	<body>
		<div ng-include src="'static/topbars.html'"></div>
		
		<!-- This div will be loaded by the home page and logout page using its ID -->
		<div class="well container-fluid">
		<div class="row-fluid">
		  <div class="span9">
			<div class="row-fluid">
		  	  <div class="well-iu span12">
		  	  	<div class="row-fluid">
			  	  <h3>Portal to IU computing resources </h3>
		  	  	</div>
		  	  	<div class="row-fluid">
				  <div class="span8">
			  	  <ul>
				  	<li>Get updates on Big Red II, Quarry, and Mason status.</li>
				  	<li>Move files from your desktop to IU's Scholarly Data Archive and Data Capacitor.</li>
				  	<li>Monitor and manage running jobs on Big Red II, Quarry, and Mason.</li>
				  	<li>Find information on available software.</li>
			  	  </ul>
				  </div>
				  <div ng-hide="authenticated" style="textalign:center; display:none;" class="span4">
                      <a href="../cilogon2/startRequest" class="login">Login</a>
				  </div>
		  	  	</div>
		  	  </div>
			</div>
			
              <div class="row-fluid">
                  <div class="well-iu span12">
                      <div class="well-heading">System Status</div>
                        <div id="sysStatus">
                          <table class="table table-striped table-condensed" >
                          	<thead>
                          		<tr><th>Resource</th><th>Status</th><th>Utilization</th><th>Job</th></tr>
                          	</thead>
                          	<tbody>
                          		<tr ng-repeat="hpc in systemStatus">
                    				<td>{{hpc.machineName}}</td>
                    				<td>{{hpc.systemState}}<span style="color: #b94a48;" ng-show="hpc.dataloaderror"> Error fetching all {{hpc.machineName}} details !</span></td>
                    				<td>Total Nodes: {{hpc.nodes.totalNodeCount}} <br>
                    					Running Nodes: {{hpc.nodes.runningNodeCount}} <br>
                    					Busy Nodes: {{hpc.nodes.busyNodeCount}} <br>
                    					Idle Nodes: {{hpc.nodes.idleNodeCount}} <br>
                    					Drained Nodes: {{hpc.nodes.drainedNodeCount}} <br>
                    					Other Nodes: {{hpc.nodes.otherNodeCount}}
                    				</td>
                    				<td><span ng-hide="authenticated">Total: </span><a ng-href="jobs?machine={{hpc.machine}}" ng-show="authenticated">Total: </a>{{hpc.jobs.totalJobCount}} <br>
                    					<span ng-hide="authenticated">Running: </span><a ng-href="jobs?machine={{hpc.machine}}&jobState=running" ng-show="authenticated">Running: </a>{{hpc.jobs.runningJobCount}} <br>
                    					<span ng-hide="authenticated">Idle: </span><a ng-href="jobs?machine={{hpc.machine}}&jobState=idle" ng-show="authenticated">Idle: </a>{{hpc.jobs.idleJobCount}} <br>
                    					<span ng-hide="authenticated">Not Queued: </span><a ng-href="jobs?machine={{hpc.machine}}&jobState=notqueued" ng-show="authenticated">Not Queued: </a>{{hpc.jobs.notQueuedJobCount}} <br>
                    					<span ng-hide="authenticated">Completed: </span><a ng-href="jobs?machine={{hpc.machine}}&jobState=completed" ng-show="authenticated">Completed: </a>{{hpc.jobs.completedJobCount}} <br>
                    					Other: {{hpc.jobs.otherJobCount}}
                    				</td>
                    			</tr>
                    			
                          	</tbody>
                          </table>
                      </div>
                  </div>
              </div>
              
              <div class="row-fluid">
			  <div class="well-iu span12">
			    <div class="well-heading"><span id="prevMonth"></span> <span id="prevMonthYear"></span> System Summary</div>
			    <div id="hpcSummary">
			    <table class="table table-striped">
			    	<thead>
				    	<tr>
				    	<th>Cluster</th>
				    	<th>Jobs</th>
				    	<th>Users</th>
				    	<th>Runtimes (hrs)</th>
				    	<th>Resources (hrs)</th>
				    	<th>Median Queue (hrs)</th>
				    	<th>Median Runtime (hrs)</th>
				    	</tr>
			    	</thead>
			    	<tbody>
			    		<tr ng-hide="hideSummaryLoader"></tr>
                    	<tr ng-hide="hideSummaryLoader"><td colspan="7"><div class="loading-iu"></div></td></tr>
                    	<tr ng-show="showSummaryUnavailable"></tr>
                    	<tr ng-show="showSummaryUnavailable"><td colspan="7">Summary data not available for this period !</td></tr>
                    	<tr ng-show="showSummaryError"></tr>
                    	<tr ng-show="showSummaryError"><td colspan="7">There was an error loading the summary data !</td></tr>
			    		<tr ng-repeat="hpc in monthlySummary">
			    		<td>{{hpc.cluster}}</td>
			    		<td>{{hpc.jobs}}</td>
			    		<td>{{hpc.users}}</td>
			    		<td>{{hpc.runtime_hours}}</td>
			    		<td>{{hpc.resource_hours}}</td>
			    		<td>{{hpc.median_queue_hours.toFixed(2)}}</td>
			    		<td>{{hpc.median_runtime_hours.toFixed(2)}}</td>
			    		</tr>
			    	</tbody>
			    </table>
				</div>
			  </div>
			</div>

		</div>
		<div class="span3">
            <div class="row-fluid">
                <div class="well-iu span12">
                    <div class="well-heading span12">Chat With a Consultant</div>
                    <p>
                        <a href="http://ithelplive.iu.edu" target="_blank">
                            <img align="absmiddle" alt="ITHelpLive" src="static/images/ITHelpLive-button.gif">
                        </a>
                        (IU login required)
                    </p>
                    <p>Available 24 hours a day, 7 days a week</p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="well-iu span12">
                    <div class="well-heading span12">UITS Assistance</div>
                    <p>
                        <a href="http://rt.uits.iu.edu/ask_rt.php" target="_blank">Ask RT For Assistance</a>
                    </p>
                    <p>
                        <a href="http://uits.iu.edu/page/apgt" target="_blank">UITS Support Center</a>
                    </p>
                    <p></p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="well-iu span12">
                    <div class="well-heading span12">IT Notices</div>
                    <div ng-controller="NoticesFeedCtrl" class="span12">
                        <div ng-hide="hideLoader" class="loading-iu"></div>
                        <div ng-show="feeds.length<1">No recent IT notices</div>
                        <div ng-repeat="feed in feeds">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" ng-href="#noticesFeed{{$index}}"><strong>{{feed.title}}</strong></a>
                            </div>
                            <div id="noticesFeed{{$index}}" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <div ng-bind-html-unsafe="feed.content"></div>
                                    <a ng-href="{{feed.link}}" target="_blank"><strong>...Read More</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		  <div class="row-fluid">
			<div class="well-iu span12">
			  <div class="well-heading span12">Latest Updates</div>
              <div ng-controller="CIBFeedCtrl" class="span12">
                <div ng-hide="hideLoader" class="loading-iu"></div>
                <div ng-show="feeds.length<1">No recent updates from CIB</div>
                <div ng-repeat="feed in feeds | limitTo:5">
                  <div class="accordion-heading">
                	<a class="accordion-toggle" data-toggle="collapse" ng-href="#CIBFeed{{$index}}"><strong>{{feed.title}}</strong></a>
                  </div>
        		  <div id="CIBFeed{{$index}}" class="accordion-body collapse">
        			<div class="accordion-inner">
        			  <div ng-bind-html-unsafe="feed.content"></div>
        			</div>
        		  </div>
         		</div>
			  </div>
			</div>
		  </div>
		</div>

		</div>
		</div>
		<div ng-include src="'static/footer.html'"></div>
	</body>
	
</html>
