<!DOCTYPE html>
<html ng-app="modulesApp" ng-controller="ModulesCtrl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>{{machineName}} Info</title>
		<link rel="icon" href="https://www.indiana.edu/favicon.ico" />
		<link rel="shortcut icon" href="https://www.indiana.edu/favicon.ico" />
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="static/js/common.js"></script>
		<script src="static/js/modules.js"></script>
		<script src="static/js/urlprovider.js"></script>

		<!-- Bootstrap -->
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
 		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="static/css/iu.css" rel="stylesheet">
	</head>
	<body>
		<div ng-include src="'static/topbars.html'"></div>
		
		<div class="well container-fluid">
		<div class="row-fluid">
		  <div class="well-iu span12">
			<div class="well-heading">{{machineName}} Modules</div>
			<div>
		  		  <table class='table table-striped table-condensed'>
					<thead>
					  <tr><th><a href="#" ng-click="predicate = 'name'; reverse=!reverse">Name</a> <i ng-show="predicate=='name' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='name' && !reverse" class="icon-arrow-down"></i></th>
						<th><a href="#" ng-click="predicate = 'version'; reverse=!reverse">Version</a> <i ng-show="predicate=='version' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='version' && !reverse" class="icon-arrow-down"></i></th>
						<th><a href="#" ng-click="predicate = 'category'; reverse=!reverse">Category</a> <i ng-show="predicate=='category' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='category' && !reverse" class="icon-arrow-down"></i></th>
						<th><a href="#" ng-click="predicate = 'description'; reverse=!reverse">Description</a> <i ng-show="predicate=='description' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='description' && !reverse" class="icon-arrow-down"></i></th>
					  </tr>
					  <tr><th><input type="text" rel="filterTooltip" placeholder="Filter by" class="input-mini" ng-model="filterText.name"/></th>
						<th><input type="text" rel="filterTooltip" placeholder="Filter by" class="input-mini" ng-model="filterText.version"/></th>
						<th><input type="text" rel="filterTooltip" placeholder="Filter by" class="input-mini" ng-model="filterText.category"/></th>
						<th><input type="text" rel="filterTooltip" placeholder="Filter by" class="input-mini" ng-model="filterText.description"/></th>
					  </tr>
					</thead>
					<tbody>
					<tr ng-hide="hideLoader"></tr>
					<tr ng-hide="hideLoader"><td colspan="4"><div class="loading-iu"></div></td></tr>
					<tr ng-show="showError"></tr>
					<tr ng-show="showError"><td colspan="4"><div class="alert alert-error">There was an error loading the modules data !</div></td></tr>
					  <tr ng-repeat="module in modules | filter:filterText | orderBy:predicate:reverse">
						<td>{{module.name}}</td>
						<td style='max-width:100px;word-wrap: break-word;'>{{module.version}}</td>
						<td style='max-width:150px;word-wrap: break-word;'>{{module.category}}</td>
						<td style='max-width:350px;word-wrap: break-word;'>{{module.description}}</td>
					  </tr>
					</tbody>
				  </table>
			</div>
		  </div>
		</div>
		</div>
		
		<div ng-include src="'static/footer.html'"></div>
	</body>
</html>