<!DOCTYPE html>
<html ng-app="nodeApp" ng-controller="NodeCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{machineName}} Node Details</title>
    <link rel="icon" href="https://www.indiana.edu/favicon.ico" />
    <link rel="shortcut icon" href="https://www.indiana.edu/favicon.ico" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="static/js/common.js"></script>
    <script src="static/js/nodeMgt.js"></script>
    <script src="static/js/urlprovider.js"></script>

    <!-- Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="static/css/iu.css" rel="stylesheet">
</head>

<body>
  <div ng-include src="'static/topbars.html'"></div>

    <div class="well container-fluid">
        <div class="row-fluid">
            <div class="well-iu span12">
                <div class="well-heading">{{machineName}} Node Details<a href="#" onclick="window.location.reload(true);" class="refresh">Refresh</a></div>
                    <div>
                    <table class="table table-hover table-striped table-condensed">
                        <thead>
                            <tr>
                                <th><a href="#" ng-click="predicate = 'name'; reverse=!reverse">Name</a> <i ng-show="predicate=='name' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='name' && !reverse" class="icon-arrow-down"></i></th>
                                <th><a href="#" ng-click="predicate = 'state'; reverse=!reverse">Status</a> <i ng-show="predicate=='state' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='state' && !reverse" class="icon-arrow-down"></i></th>
                                <th><a href="#" ng-click="predicate = 'classes'; reverse=!reverse">Classes</a> <i ng-show="predicate=='classes' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='classes' && !reverse" class="icon-arrow-down"></i></th>
                                <th><a href="#" ng-click="predicate = 'featuresReported'; reverse=!reverse">Features</a> <i ng-show="predicate=='featuresReported' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='featuresReported' && !reverse" class="icon-arrow-down"></i></th>
                                <th><a href="#" ng-click="predicate = 'cpuLoad'; reverse=!reverse">CPU Load</a> <i ng-show="predicate=='cpuLoad' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='cpuLoad' && !reverse" class="icon-arrow-down"></i></th>
                                <th><a href="#" ng-click="predicate = 'memoryReal'; reverse=!reverse">Memory(MB)</a> <i ng-show="predicate=='memoryReal' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='memoryReal' && !reverse" class="icon-arrow-down"></i></th>
                                <th><a href="#" ng-click="predicate = 'processorsReal'; reverse=!reverse">Processors</a> <i ng-show="predicate=='processorsReal' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='processorsReal' && !reverse" class="icon-arrow-down"></i></th>
                            </tr>

                            <tr><th><input type="text" rel="filterTooltip" placeholder="Filter by" class="input-mini" ng-model="filterText.name"/></th>
                                <th><input type="text" rel="filterTooltip" placeholder="Filter by" class="input-mini" ng-model="filterText.state"/></th>
                                <th><input type="text" rel="filterTooltip" placeholder="Filter by" class="input-mini" ng-model="filterText.classes"/></th>
                                <th><input type="text" rel="filterTooltip" placeholder="Filter by" class="input-mini" ng-model="filterText.featuresReported"/></th>
                                <th><input type="text" rel="filterTooltip" placeholder="Filter by" class="input-mini" ng-model="filterText.cpuLoad"/></th>
                                <th><input type="text" rel="filterTooltip" placeholder="Filter by" class="input-mini" ng-model="filterText.memoryReal"/></th>
                                <th><input type="text" rel="filterTooltip" placeholder="Filter by" class="input-mini" ng-model="filterText.processorsReal"/></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-hide="hideLoader"></tr>
                        <tr ng-hide="hideLoader"><td colspan="7"><div class="loading-iu"></div></td></tr>
                        <tr ng-show="showError"></tr>
                        <tr ng-show="showError"><td colspan="7"><div class="alert alert-error">There was an error loading the node data !</div></td></tr>
                        <tr ng-show="nodes.length<1"></tr>
                        <tr ng-show="nodes.length<1"><td colspan="7"><div>System contains no nodes or node information is not available !</div></td></tr>
                        <tr ng-click="showDetails(node)" href="#myModal" role="button" data-toggle="modal" ng-repeat="node in nodes | filter:filterText | orderBy:predicate:reverse">
                            <td>{{node.name}}</td>
                            <td>{{node.state}}</td>
                            <td style='max-width:150px; word-wrap: break-word;'>{{node.classes}}</td>
                            <td style='max-width:115px; word-wrap: break-word;'>{{node.featuresReported}}</td>
                            <td>{{node.cpuLoad}}</td>
                            <td>{{node.memoryReal}}</td>
                            <td>{{node.processorsReal}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="myModalLabel">Node Details</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid"><div class="span4"><strong>Name</strong></div><div> {{item.name}}</div></div>
                    <div class="row-fluid"><div class="span4"><strong>Resource Managers</strong></div><div> {{item.partition}}</div></div>
                    <div class="row-fluid"><div class="span4"><strong>Classes</strong></div><div> {{item.classes}}</div></div>
                    <div class="row-fluid"><div class="span4"><strong>State</strong></div><div> {{item.state}}</div></div>
                    <div class="row-fluid"><div class="span4"><strong>Features</strong></div><div> {{item.featuresReported}}</div></div>
                    <div class="row-fluid"><div class="span4"><strong>CPU Load</strong></div><div> {{item.cpuLoad}}</div></div>
                    <div class="row-fluid"><div class="span4"><strong>Total Processors</strong></div><div> {{item.processorsReal}}</div></div>
                    <div class="row-fluid"><div class="span4"><strong>Available Processors</strong></div><div> {{item.processorsAvailable}}</div></div>
                    <div class="row-fluid"><div class="span4"><strong>Total Memory (MB)</strong></div><div> {{item.memoryReal}}</div></div>
                    <div class="row-fluid"><div class="span4"><strong>Available Memory (MB)</strong></div><div> {{item.memoryAvailable}}</div></div>
                    <div class="row-fluid"><div class="span4"><strong>Total Disk Space</strong></div><div> {{item.diskConfigured}}</div></div>
                    <div class="row-fluid"><div class="span4"><strong>Available Disk Space</strong></div><div> {{item.diskAvailable}}</div></div>
                    <div class="row-fluid"><div class="span4"><strong>OS</strong></div><div> {{item.os}}</div></div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>

            </div>
        </div>
    </div>

  <div ng-include src="'static/footer.html'"></div>

</body>
</html>
