<!DOCTYPE html>
<html ng-app="moduleSearchApp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Search Module Info</title>
		<link rel="icon" href="https://www.indiana.edu/favicon.ico" />
		<link rel="shortcut icon" href="https://www.indiana.edu/favicon.ico" />
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script src="static/js/common.js"></script>
		<script src="static/js/modules.js"></script>

		<!-- Bootstrap -->
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
 		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="static/css/iu.css" rel="stylesheet">
	</head>
	<body>
		<div ng-include src="'static/topbars.html'"></div>
		
		<div class="well container-fluid">
		<div ng-controller="SearchCtrl" class="row-fluid">
		  <div class="well-iu span12">
			<div class="well-heading">Machine Software Information</div>
			<!-- div id="searchModules">
		  		  <table class='table table-striped table-condensed'>
					<thead>
					  <tr><th><a href="#" ng-click="predicate = 'name'; reverse=!reverse">Name</a> <i ng-show="predicate=='name' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='name' && !reverse" class="icon-arrow-down"></i><input type="text" rel="filterTooltip" placeholder="Filter modules by name" class="input-medium pull-right" ng-model="filterText.name"/></th>
					  </tr>
					  <tr><th></th>
					  </tr>
					</thead>
					<tbody>
					<tr ng-hide="hideLoader"></tr>
					<tr ng-hide="hideLoader"><td colspan="5"><div class="loading-iu"></div></td></tr>
					<tr ng-show="showError"></tr>
					<tr ng-show="showError"><td colspan="5"><div class="alert alert-error">There was an error loading the modules data !</div></td></tr>
					  <tr ng-click="showDetails(module.name)" href="#myModal" role="button" data-toggle="modal" ng-repeat="module in modules | filter:filterText | orderBy:predicate:reverse">
						<td>{{module.name}}</td>
					  </tr>
					</tbody>
				  </table>
			</div-->
			
			<div id="searchModules">
				<div class="row-fluid"><input type="text" rel="filterTooltip" placeholder="Filter modules by name" class="input-medium" ng-model="filterText.name"/></div>
				<div ng-hide="hideLoader"><div class="loading-iu"></div></div>
				<div ng-show="showError"><div class="alert alert-error">There was an error loading the modules data !</div></div>
				<div ng-click="showDetails(module.name)" href="#myModal" role="button" data-toggle="modal" ng-repeat="module in modules | filter:filterText | orderBy:predicate:reverse">
				  <div ng-if="$index%4==0">
		  		    <div class="rowfluid">
		  		      <div class="div-hover span3" style="padding:4px">{{module.name}}</div>
		  		  	</div>
		  		  </div>
		  		  <div ng-if="$index%4!=0">
		  		    <div class="div-hover span3" style="padding:4px">{{module.name}}</div>
		  		  </div>
		  		</div>

			</div>
			
			<div ng-controller="DetailsCtrl">
			<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="myModalLabel">{{name}}</h3>
                </div>
                <div ng-hide="detailLoadError" class="modal-body" style="max-height:450px">
                    <div class="row-fluid">
                    	<div class="span4"><strong>Machine</strong></div>
                    	<div class="span8"><strong>Version & Description</strong></div>
                    </div>
                    <div ng-repeat="cluster in clusters">
                      <div class="row-fluid">
                    	<div class="span4">{{cluster.name}}</div>
                    	<div class="span8">
                    	  <div ng-repeat="version in cluster.versions">{{version}}</div>
                    	  <br>{{cluster.description}}
                    	</div>
                      </div>
                      <br>
                    </div>
                </div>
                <div ng-show="detailLoadError" class="modal-body">
                	<div class="alert alert-error">Sorry! We encountered an error while fetching this module's details</div>
                </div>
                <div class="modal-footer">
                	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
            </div>
			
			
		  </div>
		</div>
		</div>
		
		<div ng-include src="'static/footer.html'"></div>
	</body>
</html>