<div ng-controller="UserCtrl">
  <div class="navbar navbar-iu navbar-fixed-top" style="position:fixed">
	<div>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
      </a>
      <span class="nav"><a href="http://www.iu.edu/"><img title="Logo" alt="Indiana University" src="static/images/iu_logo.gif" /></a></span>
      <span class="brand">Cyberinfrastructure Gateway</span>
      <div class="nav-collapse">
	  <ul class="nav">
		<li>
			<a id="homeLink" href="index">Home</a>
		</li>
		<li>
	      <a id="newsLink" href="news">News</a>
	    </li>
	    <!-- // TODO: Applications should be authenticated! -->
	    <li class="dropdown">
	      <a class="dropdown-toggle" id="appsLink" href="#">Applications</a>
            <ul class="dropdown-menu">
                <li><a href="amber">Amber</a></li>
            </ul>
        </li>
		<li ng-show="authenticated" class="dropdown">
	      <a class="dropdown-toggle" id="jobLink" href="#">Computing</a>
            <ul class="dropdown-menu">
                <li><a href="userJobs">My Jobs</a></li>
                <!-- li><a href="submitJobs">Submit Jobs</a></li-->
                <li class="dropdown-submenu">
                    <a class="dropdown-toggle" href="#">All Jobs</a>
                        <ul class="dropdown-menu">
                            <li><a href="jobs?machine=bigred2">Big Red II</a></li>
                            <li><a href="jobs?machine=mason">Mason</a></li>
                            <li><a href="jobs?machine=quarry">Quarry</a></li>
                        </ul>
                </li>
                <li class="dropdown-submenu">
                    <a class="dropdown-toggle" href="#">Node Info</a>
                    <ul class="dropdown-menu">
                        <li><a href="nodeManagement?machine=bigred2">Big Red II</a></li>
                        <li><a href="nodeManagement?machine=mason">Mason</a></li>
                        <li><a href="nodeManagement?machine=quarry">Quarry</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
	       	    <li class="dropdown-submenu">
                       <a class="dropdown-toggle" href="#">Node Reservations</a>
                       <ul class="dropdown-menu">
                           <li><a href="reservations?machine=bigred2">Big Red II</a></li>
                           <li><a href="reservations?machine=mason">Mason</a></li>
                           <li><a href="reservations?machine=quarry">Quarry</a></li>
                       </ul>
                </li>
            </ul>
	    </li>
		<li>
		  <a id="infoLink" href="searchModulesInfo">Software</a>
	    </li>
        <li ng-show="authenticated">
          <a id="authenticated" href="charts">My Usage</a>
        </li>
		<li ng-show="authenticated">
	      <a id="globusOnlineLink" href="https://iub.globusonline.org/SignIn">File Transfer</a>
	    </li>
	    <li class="dropdown">
	      <a class="dropdown-toggle" id="aboutLink" href="#">Contact</a>
	      <ul class="dropdown-menu">
	        <li><a href="contactus">Contact Info</a></li>
	        <li><a href="feedback">Support</a></li>
	      </ul>
	    </li>
   	    <li>
	      <a id="helpLink" href="help">Links</a>
	    </li>
	  </ul>
	  <ul class="nav pull-right">
	    <li ng-hide="authenticated" id="loginLink">
	      <a href="../cilogon2/startRequest"><img class="nav" title="Logo" alt="Logo" src="static/images/cilogon-logo-24x24-b.png" />Login</a>
	    </li>
	    <li ng-show="authenticated" class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
			<span id="loggedUser" data-username="{{username}}">{{username}}</span>
			  &nbsp;&nbsp;<i class="icon-user icon-white"></i>
		  </a>
		  <ul class="dropdown-menu"><li><a ng-click="logout()">Logout</a></li></ul>
		</li>
	  </ul>
	  <ul class="nav pull-right">
	  	<li><form class="navbar-search">
		  <!-- <input type="text" class="search-query" placeholder="Search"> -->
		  </form>
	    </li>
	  </ul>
	  </div>
	</div>
  </div>
  <br><br><br>
  <!-- <gcse:search></gcse:search> -->
  <div ng-bind-html-unsafe="message"></div>
</div>